
body{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 98vh;
}
.target {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 30px;
  background-color: rgba(137,116,255,1);
  border-radius: 5px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.2) ;
  width: auto;
  padding: 10px 40px;
  height: 50px;
  --ripple-color: #ffffffcc;
}

