.ripple{
  --ripple-x: 0;
  --ripple-y: 0;
  cursor: pointer;
  --tick: 1000;
  --ripple-color: rgba(255,255,255,1);
  --animation-tick: 0;
}


.ripple.animating {
  background-image: paint(ripple);
}